.lbl_properties{
  float: none;
  margin: 0 auto;
}

.logo_properties{
  font-size: 20px;
  font-weight: bold;

}



.properties_content
{
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}
#one td {
  border: 5px solid #ff0000;
}

.properties{
  width: 100%;
  border-top-color:#300032;
  border-top-style:solid;
}

