
<div class="properties col-sm-12">
  <div class="row properties_content">
    <div class="col-sm-6 offset-sm-3">
      <div class="logo_properties"> Selected Element: {{ this.PlaygroundService.getActiveElementName() }} </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6 offset-md-3">
        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>
            <th class="text-center">
              Property
            </th>
            <th class="text-center">
              Value
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id='addr0'>
            <td>
              <label or="usr">Durability</label>
            </td>
            <td>
              <input type="number" name='mail[]' placeholder='' class="form-control"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
