.lbl_properties{
  float: none;
  margin: 0 auto;
}

.logo_properties{
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.outline_editor{
  border-right: solid thin;
  height: 100%;
}



.properties_content
{
  margin-top: 20px;
  height: 100%;
}

table {
  border-collapse: collapse;
}
#one td {
  border: 5px solid #ff0000;
}

.properties{
  width: 100%;
  border-top-color:#300032;
  border-top-style:solid;
  height: 100%;
}

