
<div class="properties col-sm-12">
  <div class="row properties_content">
    <div class="col-sm-6 offset-sm-3">
      <span class="logo_properties">Selected Object {{elementtype}} </span>
      <select class="selectpicker">
        <option>Entity</option>
        <option>Attribute</option>
        <option>Connection</option>
      </select>
      <select class="selectpicker">
        <option>Entity1</option>
        <option>Entity2</option>
        <option>Entity3</option>
      </select>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6 offset-md-3">
        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>
            <th class="text-center">
              Property
            </th>
            <th class="text-center">
              Value
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id='addr0'>
            <td>
              <label or="usr">Durability</label>
            </td>
            <td>
              <input type="number" name='mail[]' placeholder='' class="form-control"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
