<div class="container-fluid">

  <!-- Header -->
  <div class="row">
    <div class="col-xs-12 header row">
      <div class="logo">DeepLean</div>
      <div class="logo2">Cloud Based Deep Modeling</div>
      <a data-toggle="offcanvas" class=" header-right btn btn-sm btn-info"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
  </div>

  <div class="row row-offcanvas row-offcanvas-right">

    <!-- Modeler (Palette + Editor) -->
    <div class="col-xs-12 col-sm-12 content">
      <app-modeler></app-modeler>
    </div>


    <!-- Sidebar-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <app-sidebar></app-sidebar>
    </div>

  </div>

  <!-- Properties -->
  <div class="row" style="height: 35%">
    <app-properties class="properties"></app-properties>
  </div>


</div><!-- /.container -->

