<div class="container-fluid">


  <div class="row">
    <div class="col-xs-12 header row">
<div class="logo">DeepLean</div>
      <div class="logo2">Cloud Based Deep Modeling</div>

      <a data-toggle="offcanvas" class=" header-right btn btn-sm btn-info"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
  </div>

  <div class="row row-offcanvas row-offcanvas-right">

    <!-- Main Content-->
    <div class="col-xs-12 col-sm-12 content">
      <app-modeler></app-modeler>
    </div>


    <!-- Sidebar-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="sidebar1">
        <label class="lbl_modelname" or="usr">Model Name</label>
        <input type="text" class="form-control modelname" id="usr">

        <button  class="btn btn-lg btn_save"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
      </div>
      <div class="divider"></div>

      <div class="sidebar2">
        <button  class="btn btn-lg btn_save"><span class="glyphicon glyphicon-floppy-disk"></span> Import Model</button>
        <div>Import an existing LML model</div>

        <button  class="btn btn-lg btn_save"><span class="glyphicon glyphicon-floppy-disk"></span> Export Model</button>
        <div>Export the currently active Model</div>
      </div>
      <div class="divider"></div>

      <div class="sidebar3">
        Recent Models
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            PizzaModel_New
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            StarWars_LML
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            VeryVeryDeepModel
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="row properties_container">
  <div class="properties col-sm-12">
  <div class="row properties_content">
    <div class="col-sm-6 offset-sm-3">
      <span class="logo_properties">Selected Object  </span>
      <select class="selectpicker">
        <option>Entity</option>
        <option>Attribute</option>
        <option>Connection</option>
      </select>
      <select class="selectpicker">
        <option>Entity1</option>
        <option>Entity2</option>
        <option>Entity3</option>
      </select>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6 offset-md-3">
        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>
            <th class="text-center">
              Property
            </th>
            <th class="text-center">
              Value
            </th>
          </tr>
          </thead>
          <tbody>
          <tr id='addr0'>
            <td>
              <label or="usr">Durability</label>
            </td>
            <td>
              <input type="number" name='mail[]' placeholder='' class="form-control"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>


</div><!-- /.container -->

