.sidebar1{
  text-align: center;
  margin-top: 20px;
  height: 30%;
}

.sidebar2{
  text-align: center;
  margin-top: 20px;
  height: 20%;
}

.sidebar3{
  text-align: center;
  margin-top: 20px;
  height: 40%;
}


.modelname{
  widows:80%;
  height: 50px;
}

.lbl_modelname{
  font-size: 20px;
  font-weight: bold;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn_save{
  margin-top: 5px;
}

.lbl_port_model{
  margin-top: 5px;
  color: white;
}
